<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>我的博客管理系统</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>对不起，没有找到界面！</p>
 </body>
</html>
       