<%- include header %>
<form method="post" action='upload' enctype='multipart/form-data'>
  <!--enctype 不对字符编码。在使用包含文件上传控件的表单时，必须使用该值。-->
  <input type="file" name="files" /><br/>
  <input type="file" name="files" /><br/>
  <input type="file" name="files" /><br/>
  <input type="file" name="files" /><br/>
  <input type="file" name="files" /><br/>
  <input type="submit"/>
</form>  
<%- include footer %>
